.andinanet-benefits{
    background-color: #F2F2F254;
    width: 100%;
    height: auto;
    justify-content: center;
    text-align: center;
    color: rgb(12, 12, 107);
    height: 614px;
}

.andinanet-benefits__container {
    padding: 50px 0;
}

.andinanet-benefits--card {
    display: flex;
    flex-direction: column;
    padding: 55px 50px;
}

.andinanet-benefits--card .titulo{
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    height: 54px;
}

.andinanet-benefits--card .texto{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #1E1E1E;
}

.andinanet-benefits__cards {
    position: relative;    
}

.andinanet-benefits--card {
    min-width: 320px;
    min-height: 370px;
    border-radius: 20px;
    border: 2px solid #146EA6;
    text-align: center;
}