.andesnet-callus {
    background: linear-gradient(90deg, rgba(3, 49, 140, 1) 0%, rgba(3, 76, 140, 1) 50%, rgba(3, 117, 140, 1) 100%);
    height: auto;
    position: relative;
    @media screen and (min-width: 768px) {
        height: 392px;
    }
}

.andesnet-callus__link {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.a-container-andesnet-callus__container {
    height: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}

.a-container-andesnet-callus__container_group-of-text-call-us {
    display: flex;
    flex-direction: column;

}

.a-container-andesnet-callus__container_group-of-text-call-us__llamanos {
    font-size: 40px;
    color: #ffff;
    line-height: 40px;
    margin: 0px;
    font-weight: 550;
    padding-bottom: 20px;
}

.a-container-andesnet-callus__container_group-of-text-call-us__llamanos p {
    margin: 0;
    padding: 5px 0;
}

.a-container-andesnet-callus__container_group-of-text-call-us_butom_GHZ {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    border-radius: 30px;
    font-weight: 700;
    width: fit-content;
    padding: 3px 10px;
    background-color: #EFC42C;
}


.a-container-andesnet-callus__container_group-of-text-call-us_fibra {
    font-size: 32px;
    color: #ffff;
    line-height: 30px;
    margin: 0px;

}