


<div class="mb-4 andesnet-dashboard-imagen">
    <div>
        <img src="assets/img/andesnet-logo_footer@2x.png">
    </div>
</div>

<div class="border border-black mb-4 andesnet-dashboard-formulario">
    <div class="row mt-2 p-4">
        <div class="col-4">
            <label for="dniInput" class="form-label">DNI</label>
            <input type="text" class="form-control" inputmode="numeric" pattern="[0-9]*" id="dniInput" maxlength="8"
                placeholder="DNI" autocomplete="off">
        </div>
        <div class="col-4">
            <label for="celularInput" class="form-label">Celular</label>
            <input type="text" class="form-control" inputmode="numeric" pattern="[0-9]*" id="celularInput"
                maxlength="9" placeholder="Celular" autocomplete="off">
        </div>
        <div class="col-4">
            <label for="planesSelect" class="form-label">Planes</label>
            <select class="form-select" id="planesSelect" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-12 mt-4 mb-4">
            <button type="button" class="btn btn-success">Guardar</button>
        </div>
    </div>
</div>

<div>
    <div id="myGrid" class="ag-theme-quartz" style="height: 500px"></div>
</div>
