<div class="andesnet-login">
    <!-- Aquí se incrustará el componente de inicio de sesión -->
    <div class="andesnet-login-container">
      <img src="assets/img/andesnet-logo_footer.png" alt="Logo" class="andesnet-login-logo">
      <form id="andesnet-login-form">
        <input type="text" id="andesnet-login-username" class="andesnet-login-input" placeholder="Usuario" required>
        <input type="password" id="andesnet-login-password" class="andesnet-login-input" placeholder="Contraseña" required>
        <button type="submit" class="andesnet-login-button">Iniciar sesión</button>
      </form>
    </div>
  </div>