<div class="andesnet-login">
  <!-- Aquí se incrustará el componente de inicio de sesión -->
  <div class="andesnet-login-container">
    <img src="assets/img/andesnet-logo_footer.png" alt="Logo" class="andesnet-login-logo">
    <form id="andesnet-login-form">
      <div>
        <div>
          <input type="text" id="andesnet-login-username" class="andesnet-login-input" placeholder="Usuario" required>
        </div>
        <div>
          <input type="password" id="andesnet-login-password" class="andesnet-login-input" placeholder="Contraseña"
            required>
        </div>
        <span class="error-message"></span>
        <button type="submit" class="andesnet-login-button a-button">Iniciar sesión</button>
      </div>

    </form>
  </div>
</div>